<ion-view title="Ciencias Humanas y de la Educación" id="page85">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/nayNTR5SaaW63JPGmSry_humanas-01-julio17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="cienciasHumanasYDeLaEducaciN-list24">
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item204" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/">
        <i class="icon ion-university"></i>Lic. en Arte Escénico</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item205" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Lic. en Artes Plásticas</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item206" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/">
        <i class="icon ion-university"></i>Lic. en Historia</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item207" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-en-alimentos/">
        <i class="icon ion-university"></i>Lic. en Lengua y Literatura Inglesa</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item208" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-civil/">
        <i class="icon ion-university"></i>Lic. en Lengua y Literatura Portuguesa</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item209" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-civil/">
        <i class="icon ion-university"></i>Lic. en Letras</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item210" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-university"></i>Lic. en Música</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item211" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-de-minas/">
        <i class="icon ion-university"></i>Lic. en Teología y Religiones Comparadas</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item212" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-tec-electro-electronica/">
        <i class="icon ion-university"></i>Profesorado en Letras</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item213" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-university"></i>Tec. en Museologia</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item214" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-university"></i>Traductorado en Lengua Inglesa</ion-item>
    </ion-list>
  </ion-content>
</ion-view>