<ion-view title="Ciencias de la Salud" id="page87">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ODoY4VxQlaZg4REwFlCd_salud-01-01-julio17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="cienciasDeLaSalud-list26">
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item235" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item236" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-university"></i>Lic. en Enfermería</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item237" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/">
        <i class="icon ion-university"></i>Lic. en Producción de Bioimágenes</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item238" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-en-alimentos/">
        <i class="icon ion-university"></i>Medicina</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item239" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-civil/">
        <i class="icon ion-university"></i>Odontología</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item240" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-university"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item241" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-de-minas/">
        <i class="icon ion-university"></i>Téc. en Radiología y Terapia Radiante</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item242" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-tec-electro-electronica/">
        <i class="icon ion-university"></i>Terapia Ocupacional</ion-item>
    </ion-list>
  </ion-content>
</ion-view>